.onasmainrow{
    height:60vh;
    text-align: center;
}
#onasArtical{
    
    text-align:center;
    max-width:100vw;
    
}
.onas-hero-title{
    font-size: 6em;
    font-family: Playfair_Display;
    color:#CCFFE5;
    font-weight: 900;
    
}
.onas-small-title{
    font-family: Playfair_Display;
    font-size: 4em;
    color:#CCFFE5;
    font-style: italic;
    font-weight: 600;
}
#onasMain{
    height:600px;
    background-color:#DDFFF6;
    
    text-align: center;
    max-width:100%;
}
#onasMainContent{
    margin-left:20vw;
}