@import url(https://fonts.google.com/specimen/Playfair+Display?selection.family=Lato|Playfair+Display:ital,wght@1,500;1,900&subset=latin-ext&preview.text=&preview.text_type=custom);
.container-fluid{
    max-width: 100vw;
    min-height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: #CCFFE5;
}
.mainrow{
    height: 100vh;
}
.maincontent{
    background-image: url(img/glowna.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}
.nav{
    height: 20vh;
    
}

.onas{
    min-height:100vh;
}
.onaspng img{
    background-size: cover;
    height:100%;
    position:absolute;
}
.onaspng{
    height:100vh;
}
.onascontent{
    text-align: justify;
    
    height: 100vh;
    width:100%;
    background-color: #a4dec0;
    font-family: Playfair Display;
    
}
.block-title{
    font-size: 3.5em;
    padding-top:30vh;
    font-weight: 600;
}
.block-subtitle{
    font-style: italic;
    font-weight: 300;
    
}
.button-is-blue{
    height:50px;
    width:100px;
    background-color:#5ac7c1;
    display:block;
    position:absolute;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    color: #CCFFE5;
    margin-top: 20px;
}
.button-is-blue:hover{
    text-decoration: none;
    background-color:#49b6b0;
    color: #CCFFE5;
}
.fhouse{
    min-height:100vh;
}
.fhousepng{
    height:100vh;
}
.fhousepng img{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}
.fhousecontent{
    background-color:#78bf9b;
    height:100vh;
    text-align: justify;
}
.houses-title{
    padding-top: 20vh;
}
.button-houses{
    height:75px;
    width:150px;
    background-color:#5ac7c1;
    display:block;
    position:absolute;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    color: #CCFFE5;
    margin-top: 20px;
}
.button-houses:hover{
    text-decoration: none;
    background-color:#49b6b0;
    color: #CCFFE5;
}
.onaspng{
    
}
#dupa{
    width:100vw;
    height:100vh;
    background-color:#CCFFE5;
    position:absolute;
    top:0;
    left:0;
    z-index:2136;
    padding: 60px 20px 60px 20px;
}
#isExpanded{
    z-index: 2137;
    
}
.navItem{
    height:15vh;
    font-size: 3em;
    text-align: center;
}
.mainMotto{
    position:relative;
    top:20vh;
    text-align:center;
}
#navLogo{
   width: 94%;
    
    text-align: center;
    z-index: 619;
    position:absolute;
    display: inline-block;
}
.przycisk{
    z-index: 620;
}
.hero-title{
    font-size: 5em;
    font-family: Playfair_Display;
    color:#CCFFE5;
    font-weight: 900;
}
.small-title{
    font-family: Playfair Display;
    color:#CCFFE5;
    font-style: italic;
    font-weight: 400;
}
.map-container-3{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-3 iframe{
left:0;
top:0;
height:60vh;
width:100%;
position:absolute;
}
.localization{
    background-color:#78bf9b;
    height:60vh;
}
.localRow{
    min-height:60vh;
}
#map-container-google-3{
    height:60vh;
    width:100%;
    padding:0;
}
.local-title{
    padding-top:15vh;
}
.place-card{
    display: none;
}

/* FORM */
.regDiv{
    margin-left:30vw;
    
    max-height: 100vh;
}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}